.About{
  display:flex;
  justify-content: center;
  /* margin-top:4rem ;
  width:50rem; */
 
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
 animation:makeOpacity 2s ease-out;

}
.About-p{
  display:flex;
  width:50rem;
  padding:4rem;
  margin-top:3rem;
  line-height:3rem;
  font-size:1.5rem;
  border: 2px  solid white ;
  border-radius: 3%;
}

@keyframes makeOpacity{
  from{
opacity:0;
  }
  to{
opacity: 1;
  }
}

 @media screen and (max-width:768px){
  .Home{
    width:35rem;
  
    background-color:black;
    color: white;
   
     margin-top:2rem;
    
  } 

   .About-p{
    
    width:25rem;
    font-size: small;
   }

} 

