.About{
  display:flex;
  justify-content: center;
  
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height:90rem;
 width:50rem;

}
p{
  
  width:50rem;
  padding:4rem;
  margin-top:3rem;
  line-height:3rem;
  font-size:1.5rem;
  border: 2px  solid white ;
  height:55rem;
}
