.About{
  display:flex;
  justify-content: center;
 
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
 animation:makeOpacity 2s ease-out;

}
.About-p{
  display:flex;
  width:50rem;
  padding:4rem;
  margin-top:3rem;
  line-height:3rem;
  font-size:1.5rem;
  border: 2px  solid white ;
  border-radius: 3%;
}

@keyframes makeOpacity{
  from{
opacity:0;
  }
  to{
opacity: 1;
  }
}

/* @media screen and (max-width:768px){
  .About{ 
    margin-bottom:-10rem;
   
  
     /* width:20rem;  */
   
  /* } */
  p{
    font-size:medium;
    /* width:20rem; */
    line-height:1.7rem;
  }
 
 

/* } */

