.About{
  display:flex;
  justify-content: center;
  /* margin-bottom:20rem ; */
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


 animation:makeOpacity 2s ease-out;
}




.About-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:50rem;
  padding:1rem;
  margin-top:3rem;
  line-height:3rem;
  font-size:1.5rem;
  border: 2px  solid white ;
  border-radius: 3%;

}
/* .About-ulp{
  
} */







@keyframes makeOpacity{
  from{
opacity:0;
  }
  to{
opacity: 1;
  }
}


 @media screen and (max-width:768px){
 
  .About-info{
   
    width:20rem;
  }
  .About-p{
    font-size:small;
  
  }


} 

