:root {
  --vh: 100%;
}
.App{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  background-color: black;
  align-items:center;
  width:160rem;
  height:110rem;
  /* height: calc(var(--vh, 1vh) * 100); */
 
  color:white;
  
  
  
}



/* @media screen and (max-width:768px){
  .App{
    margin-top:-35rem;
    width:30rem;
    height:180rem;
    color:white;
   
    
  }
} */


/* @media screen and (max-width:768px){
  .title{
width: 90rem;
  }
} */

.title {
  text-align: center;
  color:white;
  padding:2rem;

 
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
