/* :root {
  --vh: 100%;
} */

.App{
  display:flex;
 
  flex-direction: column;
  align-items:center;
  background-color: black;
  height:60.5rem;
  align-items:center;
 
   /* height: calc(var(--vh, 1vh) * 100);  */
  
  color:white;
  
  
  
 }

 @media screen and (max-width:768px){
  .App{
    height:110%;
    background-color: black;
   
  }
 
  .title{
    margin-top:2rem;
  }

}
  