/* :root {
  --vh: 100%;
} */
.body{
  background-color: black;
}
.App{
  display:flex;
 
  flex-direction: column;
  align-items:center;
  background-color: black;

  height:85.5rem;
  align-items:center;
 
   /* height: calc(var(--vh, 1vh) * 100);  */
  
  color:white;
  

 }
 .title{
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin-top:4rem;
  margin-bottom:3.5rem;
 }

 @media screen and (max-width:768px){
  .App{
    height:110%;
    background-color: black;
   
  }
 
  .title{
    margin-top:2rem;
  }

}
  