.Contact{
  display:flex;
  justify-content: center;
  background-color: black;
  color:white;
  height:90rem;
  width:50rem;
  text-align: center;
  margin-top: -3rem;
  animation:makeOpacity 2s ease-out;
}

@keyframes makeOpacity{
  from{
opacity:0;
  }
  to{
opacity: 1;
  }
}

.Contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:50rem;
  padding:4rem;
  margin-top:3rem;
  line-height:3rem;
  font-size:1.5rem;
  border: 2px  solid white ;
  border-radius: 3%;
  height:20rem;

}

@media screen and (max-width:768px){

  .Contact{
    width:20rem;
    margin-bottom:-10rem;
  }
  
  .Contact-info{
    /* display: flex;
    justify-content: center;
  flex-direction: column;
  justify-content: center;
  width:29rem; */
  width:20rem;
  font-size: small;
  padding:1rem;
   
  }
  h3{
    font-size:medium;
  }
 


} 