.FeedBack{
  display:flex;
  background-color: black;
  justify-content: center;
  height:90rem;
  width:50rem;
  color:white;
  /* height:45rem; */
  /* margin-top:-3rem; */
}

.mb-3{
  width:50rem;
}

/* @media screen and (max-width:768px){
 .FeedBack{
  margin-bottom:-10rem;
  width:20rem;

}
.Feedback-form{

}
  .mb-3{
  width:20rem;
}
} */

.FeedBack-text{
  height:15rem;
}