.Home{
  height:60rem;
  background-color: black;
}

.Home-text1{
  color:white;
  position:absolute;
  left:60rem;
  font-weight:bolder;
  margin:8rem;
  animation:slide 3s ease-out;
 

}


@keyframes slide{
  from{
 left:-100px;
 opacity: -1;
  }
  to{
    left:45rem;
    opacity: 1;
  }
}



.Home-text2{
  color:white;
  position:absolute;
  right:70rem;
  font-weight:bolder;
  margin:8rem;
  animation:slide1 4s ease-out;
 

}


@keyframes slide1{
  from{
 right:-100rem;
 opacity: -1;
  }
  to{
    right:70rem;
    opacity: 1;
  }
}





img{
  width:50rem;
  height:15rem;
  opacity: 80%;
  border-radius: 2rem;
}
.Home-imgDiv1{
  margin-top:3rem;

}
.Home-imgDiv2{
  height:15rem;
}
