.menu-area{
  display:flex;
  justify-content: center;
  margin-top: 2rem;
 
  color:white;
  font-size: large;
  font-weight: bold;

 
  
}
.menu-list{
  display:flex;
  list-style:none;
  justify-content: center;
  background-color: white;
 
  width:50rem;
  

}
.menu-list li{
  padding:10px;
  margin-left:50px;
  color:black;
  
}

.nav-link{
  list-style:none;

}
@media screen and (max-width:768px){
  .menu-list{
    flex-direction: column;
    align-items:center;
    background-color:white;
    color: black;
    width:768px;
    margin-top:2rem;
  }
}