.menu-area{
  display:flex;
  justify-content: center;
  /* margin-top: 40rem; */
 
  color:white;
  font-size: large;
  font-weight: bold;

}
.menu-list{
  display:flex;
  list-style:none;
  justify-content: center;
  background-color: white;
 
  width:50rem;
  

}
.menu-list li{
  padding:10px;
  margin-left:50px;
  color:black;
  
}

.nav-link{
  list-style:none;

}


 @media screen and (max-width:768px){
.menu-area{
  display:flex;
  /* flex-direction: column;
   align-items:center;  */
   text-align: center;
 justify-content: center; 



 
}
.menu-list{
 width:15rem;
 display:flex;
flex-direction: column;
align-items: flex-start;
  
  justify-content: center;
  color:black;
 

 
}

 }  
