.Service{
  display:flex;
  justify-content: center;
  height:90rem;
  height: calc(var(--vh, 1vh) * 100);
  width:50rem;
  /* margin-top:2rem; */
  

}

.Service-p{
  background-color: black;
  color:white;
  width:50rem;

}
.Service-Accordion{
  background-color: black;

 
  display:flex;
  flex-direction: column;
  width:50rem;

}

 @media screen and (max-width:768px){
  .Service{
    margin-bottom:-10rem;
  
  }


  .Service-Accordion{
    width:20rem;
    height:230rem;
    color:white;
    
  }

  .Service-p {
    width:20rem;
  }
} 


.Service-ah{
  background-color: black;
}
.accordion-button{
  background-color: black;
  color:white;
 

}

 .accordion-button:not(.collapsed) {
  color: black;
 background-color: white;

  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);

} 

.Service-disc{
  color:white;
  margin-top:4rem;
}
.Service-h2{
  color:white;

  text-align: center;
  margin-bottom: 2rem;

}
 .accordion-button::after{
  color:black;
} 
